@model HospitalManagment.Models.Patient
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<h2>إضافة مريض جديد</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">الاسم الكامل</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">رقم الهاتف</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">تاريخ الميلاد</label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">الجنس</label>
        <select asp-for="Gender" class="form-control">
            <option value="ذكر">ذكر</option>
            <option value="أنثى">أنثى</option>
        </select>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">حفظ</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
</form>